body{
    margin: 0;
}
.container{
    background-color: white;
    /* background-color: rgb(223, 236, 196); */
    /* border: solid  red; */
    height: 2320px;
}
.Head{
    display: flex;
    /* border: solid  red; */
    height: 70px;
    background-color: rgb(55, 87, 55);
    position: fixed;
    width: 100%;
}
#name{
    position: relative;
    float:left;
    margin: 20px 200px;
    color: rgb(245, 105, 6);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
#name:hover{
    color: black;
    /* background-color:rgb(192, 236, 192) ; */
    border-radius: 5px;
}

#tml{
    display: inline-flex;
    line-height: 40px;
    /* position: relative; */
    /* float:right; */
    margin: 0 40px;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 20px;
}
#tml:hover{
    /* float: left; */
    color: rgb(245, 105, 6);
    /* background-color: rgb(192, 236, 192); */
    /* border: solid; */
    /* margin-right: 50px; */
    padding: 0 5px;
    text-align: center;
    border-radius: 5px;
}
.content{
    background-color: rgb(240, 171, 122);
  /* background-color: rgb(180, 86, 19); */
    /* background-color: rgb(55, 87, 55); */
    /* background-color: rgb(214, 146, 97) ; */
    /* border: solid  red; */
    margin: 20px 0 0 0;
    height: 350px;
}
.intro{
    color:rgb(19, 9, 83);
    /* color: rgb(245, 105, 6); */
    border: solid  red;
    height: 250px;
    width: 500px;
    position: relative;
    float:right;
    top: 30px;
    margin-right: 100px;
}
#abt0{
    /* color: lightseagreen; */
    text-align: center;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}
#abt0:hover{
    color: lightseagreen;
}
#cllr:hover{
    color:rgb(243, 220, 199) ;
    /* color:rgb(19, 9, 83); */
}
p:hover{
    color:black;
}
.icon{
    background-color: rgb(55, 87, 55);
    /* border: solid; */
    height: 50px;
    position: relative;
    top: 0px;
   margin: 10px 0;
}
#whts{
    color: green;
    margin: 10px 10px 10px 350px  ;
    font-size: 30px;
    line-height: 20px;
}
#fbks{
    color: rgba(12, 44, 226, 0.815);
    margin: 10px 10px 10px 2px;
    font-size: 25px;
    line-height: 20px;
}
#lnkd{
    color: rgba(12, 112, 226, 0.815);
    margin: 10px 10px 10px 2px;
    font-size: 25px;
    line-height: 20px;
}
#git{color: black;
    margin: 10px 10px 10px 2px;
    font-size: 25px;
    line-height: 20px;
}
.about{
    /* background-color: rgb(180, 86, 19); */
    background-color: rgb(240, 171, 122);
    /* border: solid  red; */
    height: 300px;
    /* margin-top: 10px; */
}
.card{
    color:rgb(19, 9, 83);
}
#abt{
    text-align: center;
    position: relative;
    bottom:10px;
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}
#abt:hover{
    color: lightseagreen;
}
.card{
    /* border: solid  red; */
    height: 220px;
    width: 500px;
    position: relative;
    float: left;
    margin-left: 100px;
}
.aside{
    background-color: rgb(55, 87, 55);
    /* border: solid  red; */
    height: 350px;
    margin-top: 10px;
}
.sidebar{
    display: flex;
    justify-content: space-evenly;
}
.skills{
    position: relative;
    float: left;
    top: 30px;
    margin-left: 100px;
}
#crs{
    background-color: black;
    color: white;
    /* border: solid; */
    height: 30px;
    width: 250px;
    margin: 5px;
    padding-left: 10px;
    position: relative;
    bottom: 20px;
    line-height: 30px;
    list-style: none;
}
#crs:hover{
    color:rgb(158, 145, 243);
}
#logo{
  height: 250px;
}
.section{
    /* background-color: rgb(231, 201, 179); */
    /* border: solid  red; */
    height: 550px;
    position: relative;
    top: 10px;
}
.images{
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: space-evenly;
}
#work{
    height: 190px;
    width: 300px;
}
.filling{
    background-color: rgb(55, 87, 55);
    /* border: solid  red; */
    height: 450px;
    position: relative;
    top: 20px;
    /* display: flex; */
    justify-content: center;
}
.application{
    /* border: solid; */
    width: 450px;
    height: 350px;
    margin-left: 500px;
    /* display: flex; */
}

.nam{
    text-align: center;
}
#lbl{
    /* height: 50px; */
    /* text-align: center; */
    position: relative;
    margin-left: 50px;
    top:20px;
    font-family: "Roboto", sans-serif;
    /* background-color: aqua; */
    font-size: 20px;
}
#lbl1{
    position: relative;
    margin-left: 50px;
    top:45px;
    font-family: "Roboto", sans-serif;
    /* background-color: aqua; */
    font-size: 20px;
}
#lbl2{
    position: relative;
    margin-left: 50px;
    top:60px;
    font-family: "Roboto", sans-serif;
    /* background-color: aqua; */
    font-size: 20px;
}
#lbl3{
    position: relative;
    margin-left: 50px;
    top:70px;
    font-family: "Roboto", sans-serif;
    /* background-color: aqua; */
    font-size: 20px;
}
#txt{
   position: relative;
   float: right;
   top:5px;
   width: 300px;
   height: 50px;
}
#txt1{
    position: relative;
    float: right;
    top:10px;
    width: 300px;
    height: 40px;
 }
 #txt2{
    position: relative;
    float: right;
    top:20px;
    font-size: 15px;
    width: 302px;
    height: 150px;
    margin-left: 2px;
 }
 .foot{
    /* border: solid  red; */
    height: 100px;
    background-color: rgb(240, 171, 122);
    position: relative;
    top: 10px;
 }
.icon1{
    /* border: solid; */
    height: 40px;
    position: relative;
    top: 10px;
    margin-left: 240px;
    /* margin-top: 10px; */
}
#abt1{
    text-align: center;
    position: relative;
    top: 10px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}
#abt1:hover{
    color: lightseagreen;
}
